In [1]:
import math
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import time
import os

In [2]:
#Path of the file with the data of particles||
os.chdir('/home/user/Documents/BUAP/Estancia/CosmicRayReco/MCGeneration/ClusterSelection/DataPrueba')

In [3]:
#File with summary of Showers
Showers = pd.read_csv('DAT000006_showers.txt',delimiter='\t')

In [4]:
#File with information of all particles at observation level
Particles = pd.read_csv('DAT000006_particles.txt',delimiter='\t')

In [5]:
#Change the units of first interaction point from cm to km
Showers['Zfirst'] = Showers['Zfirst'].mul(1e-5)

In [6]:
#change units of positions from cm to m
Particles[['x','y']] = Particles[['x','y']].mul(0.01)

In [7]:
#Statistics of the data frame with summary of showers 
Showers.describe()

            Shower  Energy       Zfirst        Theta          Phi    Particles
count  1000.000000  1000.0  1000.000000  1000.000000  1000.000000  1000.000000
mean    500.500000  1000.0    21.396340     0.292903     0.032679    76.248000
std     288.819436     0.0     8.507688     0.106816     1.807978    95.304866
min       1.000000  1000.0     5.456020     0.017145    -3.132620     6.000000
25%     250.750000  1000.0    15.546450     0.215487    -1.581553    29.000000
50%     500.500000  1000.0    19.986050     0.308449     0.029519    43.000000
75%     750.250000  1000.0    25.346650     0.384153     1.675545    79.000000
max    1000.000000  1000.0    69.751400     0.450248     3.137550   896.000000

In [8]:
#Add a new column which will contain the number of cluster for each particle
Particles["DetPosx"] = np.ceil(Particles["x"])
Particles["DetPosy"] = np.ceil(Particles["y"])
Particles["CoorDetx"] = (Particles["x"]) % 1
Particles["CoorDety"] = (Particles["y"]) % 1
Particles['Ncluster'] = 0

In [9]:
#Statistics of the data frame with information of all particles at observation level
Particles.describe()

,sh,id,x,y,t,px,py,pz,Psq,ek,zha,aza,DetPosx,DetPosy,CoorDetx,CoorDety,Ncluster
count,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.0
mean,499.485547,3.015909,1.769380,-3.768604,55184.374544,-0.005210,0.035557,3.777340,208.827910,3.926843,0.304220,-0.043464,2.268768,-3.267299,0.499536,0.497711,0.0
std,292.657247,2.525622,500.445606,513.134391,27208.464019,3.191379,3.097355,13.220530,2812.528593,13.874389,0.140334,1.841825,500.445958,513.135062,0.288612,0.288106,0.0
min,1.000000,1.000000,-8382.900000,-8837.780000,11480.500000,-153.155000,-99.733200,0.012677,0.002500,0.050000,0.002197,-3.141560,-8382.000000,-8837.000000,0.000000,0.000000,0.0
25%,240.000000,1.000000,-87.978050,-93.244750,35643.150000,-0.042430,-0.034349,0.078934,0.006972,0.083394,0.208517,-1.730070,-87.000000,-93.000000,0.249000,0.249575,0.0
50%,501.000000,2.000000,-0.928836,0.521124,51505.650000,-0.002687,-0.000503,0.199205,0.044744,0.205952,0.302932,-0.033078,-0.000000,1.000000,0.500400,0.496000,0.0
75%,753.000000,5.000000,91.452000,89.156300,67909.700000,0.032807,0.032736,1.840413,3.786715,1.812270,0.388578,1.583580,92.000000,90.000000,0.750185,0.745925,0.0
max,1000.000000,25.000000,8053.780000,10224.300000,234742.000000,139.129000,150.120000,562.600000,318089.000000,563.888000,1.502430,3.141570,8054.000000,10225.000000,0.999900,0.999960,0.0

In [10]:
#Statistics of the data frame of all particles at observation level
Particles.describe()

,sh,id,x,y,t,px,py,pz,Psq,ek,zha,aza,DetPosx,DetPosy,CoorDetx,CoorDety,Ncluster
count,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.000000,76248.0
mean,499.485547,3.015909,1.769380,-3.768604,55184.374544,-0.005210,0.035557,3.777340,208.827910,3.926843,0.304220,-0.043464,2.268768,-3.267299,0.499536,0.497711,0.0
std,292.657247,2.525622,500.445606,513.134391,27208.464019,3.191379,3.097355,13.220530,2812.528593,13.874389,0.140334,1.841825,500.445958,513.135062,0.288612,0.288106,0.0
min,1.000000,1.000000,-8382.900000,-8837.780000,11480.500000,-153.155000,-99.733200,0.012677,0.002500,0.050000,0.002197,-3.141560,-8382.000000,-8837.000000,0.000000,0.000000,0.0
25%,240.000000,1.000000,-87.978050,-93.244750,35643.150000,-0.042430,-0.034349,0.078934,0.006972,0.083394,0.208517,-1.730070,-87.000000,-93.000000,0.249000,0.249575,0.0
50%,501.000000,2.000000,-0.928836,0.521124,51505.650000,-0.002687,-0.000503,0.199205,0.044744,0.205952,0.302932,-0.033078,-0.000000,1.000000,0.500400,0.496000,0.0
75%,753.000000,5.000000,91.452000,89.156300,67909.700000,0.032807,0.032736,1.840413,3.786715,1.812270,0.388578,1.583580,92.000000,90.000000,0.750185,0.745925,0.0
max,1000.000000,25.000000,8053.780000,10224.300000,234742.000000,139.129000,150.120000,562.600000,318089.000000,563.888000,1.502430,3.141570,8054.000000,10225.000000,0.999900,0.999960,0.0

In [11]:
#Definition of a box which contain all the particles of the simulation
#size of the detector on mm (¡¡¡For the moment work with a detector of 1m^2 !!!)

det_s_x = 1 # detector size in x axis (m)
det_s_y = 1 # detector size in y axis (m)

In [12]:
#Define a function to find the clusters of particles
def Clusters(ith_clust, Sh_n):
    
    # Transform the columns of the df with the position of the detector into a list
    x_pos = Sh_n['DetPosx'].tolist()
    y_pos = Sh_n['DetPosy'].tolist()
    
    # Create an empty set
    unique_pairs = set()

    # Iterate over the pairs of x and y using zip
    for xi, yi in zip(x_pos, y_pos):
        pair = (xi, yi)

        # Check if the pair is already in the set
        if pair not in unique_pairs:
            # If not, add it to the set and append to the set of unique pairs
            unique_pairs.add(pair)

            # Extract the particle index by comparing it with the x, y position in the data frame
            p_index_clust = Sh_n.index[ (Sh_n['DetPosx'] == xi) & (Sh_n['DetPosy'] == yi) ].tolist()
            
            # Replacte the cluster row of the particle for the cluster id
            for j in range(len(p_index_clust)):
                Sh_n.at[p_index_clust[j],'Ncluster'] = ith_clust

            ith_clust = ith_clust+1 # Next Cluster
    
    return Sh_n, ith_clust

In [13]:
%%time
ith_clust = 1 # First cluster

# Run over all the showers
for ith_shower in range(1, Showers["Shower"].count()+1):
    Sh_n, ith_clust = Clusters(ith_clust, Particles[Particles["sh"]==ith_shower]) 
    Particles.loc[Particles["sh"]==ith_shower, :] = Sh_n

CPU times: user 23.6 s, sys: 0 ns, total: 23.6 s
Wall time: 23.6 s

In [14]:
df_sn = Particles[Particles["Ncluster"]!=0]
print(df_sn["Ncluster"].value_counts().idxmax())

24353

In [15]:
Particles[Particles["Ncluster"]==24353].describe()

,sh,id,x,y,t,px,py,pz,Psq,ek,zha,aza,DetPosx,DetPosy,CoorDetx,CoorDety,Ncluster
count,27.0,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.0,27.0,27.000000,27.000000,27.0
mean,328.0,1.370370,1.757474,15.579659,18024.892593,0.285113,0.205996,1.121763,5.039791,1.175498,0.304319,0.620638,2.0,16.0,0.757474,0.579659,24353.0
std,0.0,0.687702,0.204971,0.225280,0.156711,0.471210,0.342276,1.859893,18.289401,1.948820,0.007892,0.018561,0.0,0.0,0.204971,0.225280,0.0
min,328.0,1.000000,1.279970,15.180800,18024.600000,0.013336,0.009632,0.052452,0.003022,0.054971,0.279058,0.559420,2.0,16.0,0.279970,0.180800,24353.0
25%,328.0,1.000000,1.607505,15.457000,18024.850000,0.034435,0.023948,0.139446,0.021206,0.145365,0.303065,0.623762,2.0,16.0,0.607505,0.457000,24353.0
50%,328.0,1.000000,1.811220,15.543800,18024.900000,0.156331,0.112325,0.615420,0.415798,0.644824,0.303589,0.626550,2.0,16.0,0.811220,0.543800,24353.0
75%,328.0,1.500000,1.919385,15.750950,18025.000000,0.278946,0.202618,1.098910,1.327010,1.151725,0.304003,0.627727,2.0,16.0,0.919385,0.750950,24353.0
max,328.0,3.000000,1.999420,15.935900,18025.300000,2.357560,1.712170,9.305530,95.082600,9.750520,0.327312,0.639445,2.0,16.0,0.999420,0.935900,24353.0

In [16]:
Particles[Particles["Ncluster"]==0.0]

Empty DataFrame
Columns: [sh, id, x, y, t, px, py, pz, Psq, ek, zha, aza, DetPosx, DetPosy, CoorDetx, CoorDety, Ncluster]
Index: []